.jumbotron {
    width: 100%;
    height: 10%;
    background-color: rgba(250, 132, 132, 0.911);
}

h5 {
    margin-top: 1%;
}

.text {
    margin-bottom: 1%;
}

.site-instagram .photo img {
    transition: all 0.25s ease-in-out;
}

.site-instagram .no-gutters .col-3 .photo:hover img {
    transform: scale(1.1);
}

.card:hover {
    -webkit-box-shadow: 6px 9px 21px 2px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 6px 9px 21px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 6px 9px 21px 2px rgba(0, 0, 0, 0.71);
}

.col-md-9 {
    transform: translate("-=1%");
}
